---

services:
  remna:
    image: remnawave/node:latest
    container_name: remna
    env_file:
      - .env
    volumes:
      - ./logs:/var/log/remnanode
    ports:
      - "443:443"
      - "${EXTERNAL_PORT}:${APP_PORT}"
    networks:
      - {{ docker_vpn_network }}

    restart: unless-stopped


networks:
  {{ docker_vpn_network }}:
    external: true
