---

services:
  remna:
    image: remnawave/node:latest
    container_name: remna
    env_file:
      - .env
    volumes:
      - ./logs:/var/log/remnanode
    ports:
      - "443:443"
      - "${EXTERNAL_PORT}:${APP_PORT}"
    labels:
      caddy: "${SERVICE_DOMAIN}"
      caddy.import: "logging ${SERVICE_DOMAIN}-remna"
      caddy.@not_internal: "not path /{$$INTERNAL_PATH_BASE}*"
      caddy.root: "@not_internal /var/www/public"
      caddy.file_server: "@not_internal"

    networks:
      - {{ docker_vpn_network }}

    restart: unless-stopped


networks:
  {{ docker_vpn_network }}:
    external: true
