{
  "clients": [],
  "decryption": "none",
  "fallbacks": [
    {
      "alpn": "",
      "dest": "{{ XUI_VLESS_FALLBACK_PORT_1 | default("8081") }}",
      "name": "",
      "path": "",
      "xver": 1
    },
    {
      "alpn": "h2",
      "dest": "{{ XUI_VLESS_FALLBACK_PORT_2 | default("8082") }}",
      "name": "",
      "path": "",
      "xver": 2
    }
  ]
}