{
  "clients": [],
  "decryption": "none",
  "fallbacks": [
    {
      "alpn": "",
      "dest": "8001",
      "name": "",
      "path": "",
      "xver": 1
    },
    {
      "alpn": "h2",
      "dest": "8002",
      "name": "",
      "path": "",
      "xver": 2
    }
  ]
}