yq eval 'del(.locations[].forgetoption | select(. == "")) | del(.locations[].copyoption | select(length == 0))' {{ dest_path_full }}/config/.autorestic.yaml > {{ dest_path_full }}/config/.autorestic.yaml.tmp && mv {{ dest_path_full }}/config/.autorestic.yaml.tmp {{ dest_path_full }}/config/.autorestic.yaml
