---

services:
  xray:
    image: teddysun/xray
    container_name: xray
    volumes:
      - ./config:/etc/xray
    env_file:
      - .env
    ports:
      - ${XRAY_PORT}:23
    restart: unless-stopped
    networks:
      - {{ docker_vpn_network }}
    labels:
      caddy: "${DOMAIN}:${EXTERNAL_PORT}"
      caddy.import: "logging ${DOMAIN}-xray"
      caddy.handle_path: "/${XRAY_WS_PATH}"
      {% raw %}caddy.handle_path.0_reverse_proxy: "{{ upstreams ${XRAY_WS_PORT} }}"{% endraw %}

      caddy.reverse_proxy: "lib.ru:80"

networks:
  {{ docker_vpn_network }}:
    external: true