vpn_caddy_zapret_password: "{{ initial_configure_generated_password_vpn_caddy_zapret_secret | password_hash('bcrypt') }}" # Raw password: {{ initial_configure_generated_password_vpn_caddy_zapret_secret }}