UPDATE "main"."inbounds" SET "port" = '{{ docker_service_vars.xui.ss2022_port | default("49991") }}' WHERE "remark" = 'SS-2022';
UPDATE "main"."inbounds" SET "tag" = 'inbound-{{ docker_service_vars.xui.ss2022_port | default("49991") }}' WHERE "remark" = 'SS-2022';
UPDATE "main"."inbounds" SET "settings" = '{{ JQ_RESULT.stdout }}' WHERE "remark" = 'SS-2022';