{
  "clients": [],
  "decryption": "none",
  "fallbacks": [
    {
      "alpn": "",
      "dest": "proxy:{{ docker_service_vars.xui.vless_fallback_port_1 | default('8081') }}",
      "name": "",
      "path": "",
      "xver": 0
    }
  ]
}