#! /usr/bin/env bash

SCRIPT_DIR="$(cd "$(dirname "${BASH_SOURCE[0]}")" >/dev/null 2>&1 && pwd)"
. "$SCRIPT_DIR/rclone-pass.sh"

autorestic check -c {{ dest_project_fullpath }}/config/.autorestic.yaml -v