yq eval 'del(.locations[].forgetoption | select(. == "")) | del(.locations[].copyoption | select(length == 0))' {{ dest_project_fullpath }}/config/.autorestic.yaml > {{ dest_project_fullpath }}/config/.autorestic.yaml.tmp && mv {{ dest_project_fullpath }}/config/.autorestic.yaml.tmp {{ dest_project_fullpath }}/config/.autorestic.yaml
