bindPort = {{ frp_server_port }}
allowPorts = [
  { start = {{ frp_range_ports_1_start }}, end = {{ frp_range_ports_1_end }} },
  { start = {{ frp_range_ports_2_start }}, end = {{ frp_range_ports_2_end }} }
]
webServer.addr = "0.0.0.0"
webServer.port = {{ frp_dashboard_port }}
webServer.user = "{{ frp_dashboard_user }}"
webServer.password = "{{ frp_dashboard_password }}"
webServer.tls.certFile = "/etc/frp/certs/{{ cert_location_path_section.main_crt }}"
webServer.tls.keyFile = "/etc/frp/certs/{{ cert_location_path_section.main_key }}"
auth.method = "{{ frp_auth_method }}"
auth.token = "{{ frp_auth_token }}"
enablePrometheus = true