services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    cpus: 0.5
    mem_limit: 200m
    env_file:
      - .env
    volumes:
      - ./grafana_data:/var/lib/grafana
    networks:
      - caddy
    labels:
      caddy: "${DOMAIN}:{% if grafana_web_external_port is defined and grafana_web_external_port %}:${EXTERNAL_PORT}{% endif %}"
      caddy.import: "logging ${DOMAIN}"
      {% raw %}caddy.0_reverse_proxy: "{{ upstreams 3000 }}"{% endraw %}

    restart: unless-stopped

networks:
  caddy:
    external: true