---

services:
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.51.0
    cpus: 0.5
    mem_limit: 200m
    container_name: "${SERVICE_NAME}"
    env_file:
      - .env
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    networks:
      - {{ analytics_node_network_name }}
{% if 'vpn_caddy' in group_names or 'vpn_xui_first' in group_names %}
      - {{ docker_vpn_network }}
{% endif %}
    restart: unless-stopped

  cadvisor_proxy:
    image: nginx:latest
    container_name: "${SERVICE_NAME}_proxy"
    cpus: 0.5
    mem_limit: 200m
    env_file:
      - .env
    ports:
{% if domains_keys.cadvisor is defined %}
      - "${EXTERNAL_PORT}:443/tcp"
{% else %}
      - "${EXTERNAL_PORT}:80/tcp"
{% endif %}
    networks:
      - {{ analytics_node_network_name }}
    volumes:
      - ./nginx/templates:/etc/nginx/templates
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/.htpasswd:/etc/nginx/.htpasswd:ro
{% if domains_keys.cadvisor is defined %}
      - {{ cert_location_root_path }}:/etc/letsencrypt:ro
{% endif %}
    restart: unless-stopped

networks:
  {{ analytics_node_network_name }}:
    external: true
{% if 'vpn_caddy' in group_names or 'vpn_xui_first' in group_names %}
  {{ docker_vpn_network }}:
    external: true
{% endif %}