---

services:
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.51.0
    cpus: 0.5
    mem_limit: 200m
    container_name: "${SERVICE_NAME}"
    privileged: true
    env_file:
      - .env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/machine-id:/etc/machine-id:ro
      - /:/rootfs:ro
      - /dev/disk/:/dev/disk:ro
      - /sys:/sys:ro
      - /var/run:/var/run:ro
      - /var/lib/docker/:/var/lib/docker:ro
    command:
      - "--storage_duration=5m0s"
      - "--housekeeping_interval=60s"
      - "--docker_only=true"
      - "--enable_metrics=cpu,memory,network"
    networks:
      - {{ analytics_node_network_name }}
    restart: unless-stopped

  proxy:
    image: nginx:latest
    container_name: "${SERVICE_NAME}_proxy"
    cpus: 0.5
    mem_limit: 200m
    env_file:
      - .env
    ports:
      - "${EXTERNAL_PORT}:443/tcp"
    networks:
      - {{ analytics_node_network_name }}
    volumes:
      - ./nginx/templates:/etc/nginx/templates
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/.htpasswd:/etc/nginx/.htpasswd:ro
      - {{ cert_location_root_path }}:/etc/letsencrypt:ro
    restart: unless-stopped

networks:
  {{ analytics_node_network_name }}:
    external: true