---

services:
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.51.0
    cpus: 0.5
    mem_limit: 200m
    container_name: "${SERVICE_NAME}"
    env_file:
      - .env
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    labels:
      caddy: "${SERVICE_DOMAIN}:${EXTERNAL_PORT}"
      caddy.import: "logging ${SERVICE_DOMAIN}-cadvisor"
      caddy.basic_auth:
{% for user in cadvisor_server_users %}
      caddy.basic_auth.{{user.name}}: "${BASIC_AUTH_USER_{{user.name | upper}}}"
{% endfor %}

      {% raw %}caddy.reverse_proxy: "{{ upstreams ${SERVICE_PORT_INTERNAL} }}"{% endraw %}
    networks:
      - {{ analytics_node_network_name }}
{% if 'vpn_caddy' in group_names or 'vpn_xui_first' in group_names %}
      - {{ docker_vpn_network }}
{% endif %}
    restart: unless-stopped

networks:
  {{ analytics_node_network_name }}:
    external: true
{% if 'vpn_caddy' in group_names or 'vpn_xui_first' in group_names %}
  {{ docker_vpn_network }}:
    external: true
{% endif %}