---

services:
  caddy:
    image: homeall/caddy-reverse-proxy-cloudflare:latest
    container_name: caddy
    cpus: 0.5
    mem_limit: 200m
    ports:
{% for port in caddy_external_ports_allowlist %}
      - "{{port}}"
{% endfor %}
{% if caddy_occupy_HTTPS is defined and caddy_occupy_HTTPS == true %}
      - "443:443"
{% endif %}

    environment:
      - CADDY_INGRESS_NETWORKS=caddy
      - CADDY_DOCKER_CADDYFILE_PATH=/config/base/Caddyfile
    env_file:
      - .env
    networks:
      - {{ docker_vpn_network }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./config:/config
      - /home/{{ standard_user }}/logs/caddy:/var/log/caddy
      - ./static:/var/www/public
      - caddy-data:/data
      - caddy-certs:/data/caddy/certificates/acme-v02.api.letsencrypt.org-directory
    extra_hosts:
      - "host.docker.internal:host-gateway"
    labels:
      caddy: "${DOMAIN}"
      caddy.handle_path: "/{{ path_to_internal_services_predefined_full }}/caddy_exporter/metrics/*"
      caddy.handle_path.basic_auth.prometheus: "${METRICS_PROMETHEUS_USER_PASSWORD}"
      caddy.handle_path.basic_auth.client: "${METRICS_CLIENT_USER_PASSWORD}"
      caddy.handle_path.metrics: ""
    restart: unless-stopped

networks:
  {{ docker_vpn_network }}:
    external: true

volumes:
  caddy-data: {}
  caddy-certs: {}