UPDATE "main"."inbounds" SET "port" = '{{ docker_xui_vless_port | default("443") }}' WHERE "remark" = 'VLESS';
UPDATE "main"."inbounds" SET "tag" = 'inbound-{{ docker_xui_vless_port | default("443") }}' WHERE "remark" = 'VLESS';
UPDATE "main"."inbounds" SET "settings" = '{{ JQ_RESULT.stdout }}' WHERE "remark" = 'VLESS';