UPDATE "main"."users" set "username" = '{{ docker_xui_dashboard_login }}';
UPDATE "main"."users" set "password" = '{{ docker_xui_dashboard_password }}';

UPDATE "main"."settings" set "value" = '/etc/letsencrypt/{{ cert_location_path_section.xui_crt }}' WHERE "key" = 'webCertFile';
UPDATE "main"."settings" set "value" = '/etc/letsencrypt/{{ cert_location_path_section.xui_key }}' WHERE "key" = 'webKeyFile';
UPDATE "main"."settings" set "value" = '/etc/letsencrypt/{{ cert_location_path_section.xui_crt }}' WHERE "key" = 'subCertFile';
UPDATE "main"."settings" set "value" = '/etc/letsencrypt/{{ cert_location_path_section.xui_key }}' WHERE "key" = 'subKeyFile';

UPDATE "main"."settings" SET "value" = '{{ docker_xui_domain }}' WHERE "key" = 'webDomain';

UPDATE "main"."settings" SET "value" = 'true' WHERE "key" = 'subEnable';
UPDATE "main"."settings" SET "value" = 'true' WHERE "key" = 'subEncrypt';
UPDATE "main"."settings" SET "value" = 'true' WHERE "key" = 'subShowInfo';
UPDATE "main"."settings" SET "value" = '/{{ docker_xui_sub_path }}/' WHERE "key" = 'subPath';
UPDATE "main"."settings" SET "value" = '/{{ docker_xui_sub_json_path }}/' WHERE "key" = 'subJsonPath';

UPDATE "main"."settings" SET "value" = '{{ docker_xui_dashboard_port }}' WHERE "key" = 'webPort';
UPDATE "main"."settings" SET "value" = '{{ docker_xui_sub_port }}' WHERE "key" = 'subPort';

UPDATE "main"."inbounds" SET "port" = '{{ docker_xui_ss2022_port }}' WHERE "remark" = 'SS-2022';
UPDATE "main"."inbounds" SET "port" = '{{ docker_xui_vless_port }}' WHERE "remark" = 'VLESS';
UPDATE "main"."inbounds" SET "port" = '{{ docker_xui_wg_port }}' WHERE "remark" = 'WG';