pushgateway_metrics_client_user_password: "{{ initial_configure_generated_password_analytics_server_pushgateway_client | password_hash('bcrypt') }}" # Raw password: {{ initial_configure_generated_password_analytics_server_pushgateway_client }}
pushgateway_metrics_prometheus_user_password: "{{ initial_configure_generated_password_analytics_server_pushgateway_prometheus | password_hash('bcrypt') }}" # Raw password: {{ initial_configure_generated_password_analytics_server_pushgateway_prometheus }}