---
services:
  vector:
    image: timberio/vector:latest-debian
    cpus: 0.5
    mem_limit: 200m
    container_name: vector
    environment:
      - HOST_MACHINE={{ inventory_hostname }}
    volumes:
      - /run/systemd/journal/socket:/run/systemd/journal/socket:ro
      - /var/log/journal:/var/log/journal:ro
      - ./config/vector.yaml:/etc/vector/vector.yaml:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - {{ analytics_node_network_name }}

  proxy:
    image: nginx:latest
    container_name: "${SERVICE_NAME}_proxy"
    cpus: 0.5
    mem_limit: 200m
    env_file:
      - .env
    ports:
{% if domains_keys.vector_exporter is defined %}
      - "${EXTERNAL_PORT}:443/tcp"
{% else %}
      - "${EXTERNAL_PORT}:80/tcp"
{% endif %}
    networks:
      - {{ analytics_node_network_name }}
    volumes:
      - ./nginx/templates:/etc/nginx/templates
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/.htpasswd:/etc/nginx/.htpasswd:ro
{% if domains_keys.vector_exporter is defined %}
      - {{ cert_location_root_path }}:/etc/letsencrypt:ro
{% endif %}
    restart: unless-stopped

networks:
  {{ analytics_node_network_name }}:
    external: true