matrix_server_id: {{ initial_configure_server_matrix_server_id }} # admin account name for the server
matrix_server_postgres_password: "{{ initial_configure_generated_password_matrix_server_db_password }}"
matrix_server_root_domain: {{ setup_server_service_base_domains.matrix_server }} # the domain of the Matrix IDs, @user:<root domain>
matrix_server_setup_wellknown: true # true if matrix_server_root_domain is set
