bindPort = ${FRPS_SERVER_PORT}
allowPorts = [
  { start = ${FRPS_RANGE_PORTS_1_START}, end = ${FRPS_RANGE_PORTS_1_END} }
]
webServer.addr = "0.0.0.0"
webServer.port = ${FRPS_DASHBOARD_PORT}
webServer.user = "${FRPS_DASHBOARD_USER}"
webServer.password = "${FRPS_DASHBOARD_PASSWORD}"
auth.method = "${FRPS_AUTH_METHOD}"
auth.token = "${FRPS_AUTH_TOKEN}"