node_exporter_basic_auth_users:
  {{ standard_user }}: "{{ initial_configure_generated_password_analytics_node_node_exporter_client }}"
  prometheus: "{{ initial_configure_generated_password_analytics_node_node_exporter_prometheus }}"
