# The prometheus user is added by the role from
# prometheus_server_scrape_credentials.fail2ban_exporter of the analytics server this
# host relates to (host_relations).
fail2ban_exporter_server_users:
  - name: {{ standard_user }}
    password: "{{ initial_configure_generated_password_analytics_node_fail2ban_exporter_standard_user }}"
    hash_scheme: bcrypt
