# The prometheus user is added by the role from
# prometheus_server_scrape_credentials.node_exporter of the analytics server this
# host relates to (host_relations).
node_exporter_basic_auth_users_for_caddy:
  - name: {{ standard_user }}
    password: "{{ initial_configure_generated_password_analytics_node_node_exporter_client }}"
    hash_scheme: bcrypt
