server {
    listen 80;
    server_name {{ domains_keys.cadvisor }};
    
    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    server_name {{ domains_keys.cadvisor }};
    
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/{{ cert_location_path_section.cadvisor_crt }};
    ssl_certificate_key /etc/letsencrypt/{{ cert_location_path_section.cadvisor_key }};

    location / {
        auth_basic "Restricted Access";
        auth_basic_user_file /etc/nginx/.htpasswd;

        proxy_pass http://cadvisor:8080/;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_set_header Host $host;
    }
}
