(logging) {
    log {
        output file /var/log/caddy/{args[0]}.access.log {
            roll_size 10mb
            roll_keep 20
            roll_keep_for 3d
        }
    }
}

# Apply logging to all incoming requests
{
    log {
        output file /var/log/caddy/common.access.log {
            roll_size 10mb
            roll_keep 20
            roll_keep_for 3d
        }
    }
}

* {
    import logging wildcard
}

{$DOMAIN} {
    import logging {$DOMAIN}
    root * /var/www/public
    file_server
    rewrite * /index.html
}
