(cors) {
        @origin header Origin "*"
        header @origin Access-Control-Allow-Origin "*"
        header @origin Access-Control-Allow-Methods "OPTIONS,HEAD,GET,POST,PUT,PATCH,DELETE"
        header @origin Access-Control-Allow-Headers "DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization,Accept"
        header @origin Access-Control-Allow-Credentials "true"
        header @origin Access-Control-Expose-Headers "Content-Length,Content-Range"
}

# This is legacy snippet for exposing X-UI server to the world
(handle_xui_redirects) {
    @redirect307 status 307
    handle_response @redirect307 {
        header Content-Type application/json
        respond `{"redirect_url": "{{.RespHeader.Get \"Location\"}}"}` 200
    }
}

(logging) {
    log {
        output file /var/log/caddy/{args[0]}.access.log {
            roll_size 10mb
            roll_keep 20
            roll_keep_for 3d
        }
    }
}

# Apply logging to all incoming requests
{
    log {
        output file /var/log/caddy/common.access.log {
            roll_size 10mb
            roll_keep 20
            roll_keep_for 3d
        }
    }
}

* {
    import logging wildcard
}

{$DOMAIN} {
    import logging {$DOMAIN}
    root * /var/www/public
    file_server
    rewrite * /index.html
}
