pushgateway_metrics_client_user_password: "{{ initial_configure_generated_password_analytics_server_pushgateway_client }}" # bcrypt hash for user 'client'
pushgateway_metrics_prometheus_user_password: "{{ initial_configure_generated_password_analytics_server_pushgateway_prometheus }}" # bcrypt hash for user 'prometheus'