remna_server_caddy_custom_login_route_route: "{{ initial_configure_generated_password_remna_server_caddy_custom_login_route_path}}"
remna_server_caddy_custom_login_route_user: {{ standard_user }}
remna_server_caddy_custom_login_route_email: {{ initial_configure_user_input_user_email.main }}
remna_server_caddy_custom_login_route_password: "{{ initial_configure_generated_password_remna_server_caddy_custom_login_route }}"
remna_server_caddy_custom_login_route_api_token: <API token obtained from Caddy security panel>