vpn_server_remnawave_jwt_auth_secret: <jwt_auth_secret>
vpn_server_remnawave_jwt_api_tokens_secret: <jwt_api_tokens_secret>

vpn_server_remnawave_is_telegram_notifications_enabled: false
vpn_server_remnawave_telegram_bot_token: <telegram_bot_token>
vpn_server_remnawave_telegram_notify_users_chat_id: <telegram_notify_users_chat_id>
vpn_server_remnawave_telegram_notify_users_thread_id: # empty if you do not use threads
vpn_server_remnawave_telegram_notify_nodes_chat_id: <telegram_notify_nodes_chat_id>
vpn_server_remnawave_telegram_notify_nodes_thread_id: # empty if you do not use threads
vpn_server_remnawave_telegram_notify_crm_chat_id: <telegram_notify_crm_chat_id>
vpn_server_remnawave_telegram_notify_crm_thread_id: # empty if you do not use threads

vpn_server_remnawave_telegram_oauth_enabled: false
vpn_server_remnawave_telegram_oauth_admin_ids: "[123, 321]"


vpn_server_remnawave_metrics_user: prometheus
vpn_server_remnawave_metrics_pass: "{{ initial_configure_generated_password_vpn_server_remnawave_metrics }}"

vpn_server_remnawave_webhook_url: "" # Only https:// is allowed
vpn_server_remnawave_webhook_secret_header: <token> # This secret is used to sign the webhook payload, must be exact 64 characters. Only a-z, 0-9, A-Z are allowed.

vpn_server_remnawave_postgres_password: <postgres_password>

vpn_server_remnawave_subscription_path: {% raw %}"{{ path_to_internal_services_predefined_full }}/sub"{% endraw %}
