---

services:
  docker_exporter_proxy:
    image: nginx:latest
    container_name: "${SERVICE_NAME}_proxy"
    cpus: 0.5
    mem_limit: 200m
    env_file:
      - .env
    network_mode: host
    volumes:
      - ./nginx/templates:/etc/nginx/templates
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/.htpasswd:/etc/nginx/.htpasswd:ro
{% if domains_keys.observability is defined %}
      - {{ cert_location_root_path }}:/etc/letsencrypt:ro
{% endif %}
    restart: unless-stopped
