{%- if restic_node_vars is defined and restic_node_vars.remotes_dotenv_vars is defined -%}

{%- for remote in restic_node_vars.remotes_dotenv_vars -%}

{%- if remote.vars -%}

{%- for var in remote.vars -%}

{% for key, value in var.items() %}
AUTORESTIC_{{ remote.name | upper }}_{{ key | upper }}={{ value }}
{% endfor %}

{%- endfor -%}

{%- endif -%}

{%- endfor -%}

{%- endif -%}