version: 2

extras:
  backup: &backup
    exclude-file: {{ restic_excludes_list_files }}
  forget: &forget
    keep-last:
      - 10
    forgetoption: prune
  complete_options: &complete_options
    backup:
      <<: *backup

global:
  forget:
    keep-last: 5
    keep-daily: 4
    keep-weekly: 1
    keep-monthly: 12
    keep-yearly: 7

locations:
  {{ restic_node_vars.locations | to_nice_yaml(indent=2, sort_keys=false) | replace(fillers.yaml + ': ', '<<: *') | trim | indent(2, false) }}

backends:
  {{ restic_node_vars.remotes | to_nice_yaml(indent=2, sort_keys=false) | trim | indent(2, false) }}