{% if 'analytics_node' in group_names %}
(observability) {
    handle_path /{{ path_to_internal_services_predefined_full }}/node_exporter/* {
        basic_auth {
{% for user in node_exporter_basic_auth_users_for_caddy %}
            {{user.name}} {{ user.password | ansible.builtin.password_hash(user.hash_scheme) }}
{% endfor %}
        }
        reverse_proxy host.docker.internal:{{ node_exporter_web_listen_address_port }}
    }
}
{% endif %}