{% if group_names | select('match', '^vpn_') | list %}

{{ domains_keys.vpn }} {
    import logging {{ domains_keys.vpn }}
    root * /var/www/public
    file_server
    rewrite * /index.html
}

{% endif %}