{%set targets =
            groups['analytics_node']
            | map('extract', hostvars, 'domains_keys')
            | select('defined')
            | reject('match', '.*example\.tld')
            | map(attribute='main')
            | select('defined')
            | map('regex_replace', '^(.*)$', 'https://\g<1>')
            | list | unique %}
---
- targets:
  {{ targets | to_nice_yaml(indent=2, sort_keys=false) | trim | indent(2, false) }}
