{%- set node_list = [] -%}
{%- for host in groups['analytics_node'] -%}
  {%- set hv = hostvars[host] -%}

  {%- if (hv.get('domains_keys') and hv.domains_keys.get('node_exporter') is defined) or (hv.get('node_exporter_proxy_server_hostname') is defined) -%}

    {# 1. Hostname fallback logic #}
    {%- set target_hostname = hv.get('node_exporter_proxy_server_hostname', hv.domains_keys.node_exporter) -%}

    {# 2. Port fallback #}
    {%- set port = hv.get('node_exporter_proxy_server_url_port', hv.node_exporter_web_listen_address_port) -%}
    {%- set final_target = target_hostname ~ (':' ~ port if port is defined else '') -%}

    {# 3. Metrics path fallback logic #}
    {%- set metrics_path = hv.get('node_exporter_proxy_server_url_path', hv.node_exporter_web_telemetry_path) -%}
    {%- if not metrics_path -%}
      {%- set metrics_path = '/metrics' -%}
    {%- endif -%}

    {# 4. Hostname fallback logic #}
    {%- set hostname = hv.get('node_exporter_proxy_server_label', hv.inventory_hostname) -%}

    {# 5. Build the item we will append to the list #}
    {%- set item = {
      'targets': [ final_target ],
      'labels': {
        '__metrics_path__': metrics_path,
        'hostname': hostname
      }
    } -%}

    {# 5. Avoid duplicates if needed #}
    {%- if item not in node_list -%}
      {%- set _ = node_list.append(item) -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}

{{ node_list | to_nice_yaml(indent=2, sort_keys=false) }}