standard_user: {{ standard_user }} # This is a username to connect to host
root_password: "{{ lookup('community.general.random_string', length=50, min_lower=1, min_upper=1, min_numeric=1, min_special=1, override_special='-=+!#$()[]') }}" # This is a password to connect to host
common_username: {{ standard_user }} # This is username used in configs to autofill