---

services:
  xui-api-server:
    image: kenyawest/xui-api-server:latest
    hostname: xui-api-server
    container_name: xui-api-server
    cpus: 0.5
    mem_limit: 200m
    env_file:
      - .env
    networks:
      - {{ docker_service_vars.network.name }}
    restart: unless-stopped

networks:
  {{ docker_service_vars.network.name }}:
    external: true
