vpn_server_remnawave_custom_login_route_route: "{{ initial_configure_generated_password_vpn_server_remnawave_custom_login_route_path}}"
vpn_server_remnawave_custom_login_route_user: {{ standard_user }}
vpn_server_remnawave_custom_login_route_email: {{ initial_configure_user_input_user_email.main }}
vpn_server_remnawave_custom_login_route_password: "{{ initial_configure_generated_password_vpn_server_remnawave_custom_login_route }}"
vpn_server_remnawave_custom_login_route_api_token: <API token obtained from Caddy security panel>