(cors) {
        @origin header Origin "*"
        header @origin Access-Control-Allow-Origin "*"
        header @origin Access-Control-Allow-Methods "OPTIONS,HEAD,GET,POST,PUT,PATCH,DELETE"
        header @origin Access-Control-Allow-Headers "DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization,Accept"
        header @origin Access-Control-Allow-Credentials "true"
        header @origin Access-Control-Expose-Headers "Content-Length,Content-Range"
}

(logging) {
    log {
        output file /var/log/caddy/{args[0]}.access.log {
            roll_size 10mb
            roll_keep 20
            roll_keep_for 3d
        }
    }
}

# Apply logging to all incoming requests
{
    log {
        output file /var/log/caddy/common.access.log {
            roll_size 10mb
            roll_keep 20
            roll_keep_for 3d
        }
    }
}

* {
    import logging wildcard
}

{$DOMAIN} {
    import logging {$DOMAIN}
    root * /var/www/public
    file_server
    rewrite * /index.html
}

# In caddy-docker-proxy, we need to use absolute paths because of wrong CWD: https://github.com/lucaslorentz/caddy-docker-proxy/issues/422
import /config/base/snippets/*
