DOMAIN=                         # your domain
EMAIL=                          # e-mail that was set with your domain
XUI_DASHBOARD_PATH=             # must be present, or it produces bugs. Example value: `xui-dashboard`
XUI_HOSTNAME=                   # By default, X-UI dashboard's name is set to `yourhostname`. You can change it to whatever you want.
XUI_DASHBOARD_PORT=             # Defaults to 49999
XUI_WG_PORT=                    # Defaults to 49989
XUI_VLESS_WS_PATH=              # must be present, or it produces bugs. Example value: `xui-vless-ws`
XUI_SS2022_PORT=                # Defaults to 49991
XUI_SUB_PORT=                   # Defaults to 49998