cadvisor_server_users:
  - name: {{ standard_user }}
    password: "{{ initial_configure_generated_password_analytics_node_cadvisor_standard_user }}"
    hash_scheme: bcrypt
  - name: prometheus
    password: "{{ initial_configure_generated_password_analytics_node_cadvisor_prometheus }}"
    hash_scheme: bcrypt
