[api_cache]
  cache_time = 300
  enable = false

[ghproxy]
  enable = false
  host_url = ""
  support_api = true

[global]
  cache_dir = "{{ eget_temp_dir.path }}/.cache/eget"
  proxy_url = ""
  system = ""
  target = "{{ eget_temp_dir.path }}/binaries"

[packages]
{% for pkg in packages_binary_list %}
{%   set repo = pkg.repo %}
{%   if pkg.bin_name is defined %}
{%     set name = pkg.bin_name %}
{%   elif pkg.file is defined %}
{%     set name = pkg.file %}
{%   else %}
{%     set basename = repo.split('/') | last %}
{%     set name = basename.split('.')[0] %}
{%   endif %}

[packages.{{ name }}]
  repo = "{{ repo }}"
{#   dest_loc is a path on the *managed host*, not on the controller. Emitting
     it here would make eget write to that absolute path on the controller --
     usually a permission denied on system dirs, and the binary would never
     reach the staging dir, so it would never be synced anywhere. Everything
     stages flat under [global] target; place_binaries.yml moves the packages
     that declare a dest_loc into place on the host after the rsync. #}
{%   if pkg.bin_name is defined %}
  name = "{{ pkg.bin_name }}"
{%   endif %}
{%   if pkg.file is defined %}
  file = "{{ pkg.file }}"
{%   endif %}
{%   if pkg.assets is defined %}
  asset_filters = [{% for a in pkg.assets %}"{{ a }}"{% if not loop.last %}, {% endif %}{% endfor %}]
{%   endif %}
{% endfor %}
