.android/build-cache/
.android/cache/
.bash_sessions/
.bundle/cache/
.composer/cache/
.gradle-test-kit/
.gradle/*
!.gradle/init.d/
!.gradle/init.d.*/
!.gradle/create-gradle-wrapper.bash
!.gradle/dependency-check-suppressions.xml
!.gradle/gradle.properties
!.gradle/toggle-gradle-init.bash
.groovy/grapes/
.hab/cache/
.ivy2/cache/
.jython_cache/
.kube/cache/
.kube/http-cache/
.m2/repository/
.m2/wrapper/
.minikube/cache/
.node-gyp/
.npm/
.pytest_cache/
.sonar/_tmp/
.sonar/cache/
.venv/
.zsh_sessions/
__pycache__/