$HOME/.ansible/
$HOME/.athenz/
$HOME/.cache/
$HOME/.cdt/
$HOME/.cisco/
$HOME/.duoconnect/
$HOME/.local/share/ruby-advisory-db/
$HOME/.venvs/
$HOME/.yubiagent/
$HOME/Applications/
$HOME/Library/
$HOME/Public/

.DS_Store
.Spotlight-V100
.anyconnect
.bash_history
.fseventsd
.lesshst
.pdbhistory
.python_history
.sqlite_history
.viminfo
.zsh_history

/**/.cache/chromium 
/**/.local/share/Trash
/**/.mozilla/firefox/*/Cache

# Exclude any directory that starts with a dot
.*/*