frp_auth_token: "{{ initial_configure_generated_password_vpn_common_frp_token }}"
frp_dashboard_password: "{{ initial_configure_generated_password_vpn_common_frp_dashboard }}"
frp_client_dashboard_password: "{{ initial_configure_generated_password_vpn_common_frp_client_dashboard }}"