standard_user: {{ standard_user }} # This is a username to connect to host
root_password: "{{ initial_configure_generated_password_root }}" # This is a password to connect to host
common_username: {{ standard_user }} # This is username used in configs to autofill