---

services:
  xui:
    image: alireza7/x-ui
    container_name: xui
    hostname: ${XUI_HOSTNAME}
    volumes:
      - type: bind
        source: ./db/x-ui.db
        target: /etc/x-ui/x-ui.db
      - certs:/etc/letsencrypt:ro
    env_file:
      - .env
    environment:
      XRAY_VMESS_AEAD_FORCED: "false"
    tty: true
    restart: unless-stopped
    networks:
      - {{ docker_vpn_network }}
    ports:
      - "${XUI_WG_PORT}:${XUI_WG_PORT}/udp"
      - "${XUI_VLESS_PORT}:${XUI_VLESS_PORT}"
      - "${XUI_SS2022_PORT}:${XUI_SS2022_PORT}"
      - "${XUI_SUB_PORT}:${XUI_SUB_PORT}"
    labels:
      caddy: "${DOMAIN}:${EXTERNAL_PORT}"
      caddy.import: "logging ${DOMAIN}-xui"
      {% raw %}caddy.0_reverse_proxy: "{{ upstreams https ${XUI_DASHBOARD_PORT} }}"{% endraw %}

      {% raw %}caddy.0_reverse_proxy.transport: "http"{% endraw %}

      {% raw %}caddy.0_reverse_proxy.transport.tls_insecure_skip_verify: ""{% endraw %}


networks:
  {{ docker_vpn_network }}:
    external: true

volumes:
  certs:
    external: true
    name: caddy_caddy-certs